.jumbotron {
	overflow: hidden;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.add-right-pad {
  margin-right: 5px; 
}

.bg {
	position: absolute;
	right: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-left {
  float: left;
  height: 100%;
}

.bg-left img {
	max-height:100%;
}

.bg-right {
  overflow: hidden;
  height: 100%;
  background-image: url('../images/bg_right_white2.png');
  background-repeat: repeat-x;
  background-size: contain;
}

.bg-right img {
  max-height:100%;
}

.phone {
	font-size: 28px;
	font-weight: bold;
	color: rgb(217, 83, 79);
}

.contacts-line {
  overflow: auto;
  width: 100%;
  padding-top: 5px;
}

.contacts-line .left {
  float: left;
  display:inline-block;
  padding-right: 25px;
}

.contacts-line .right {
  display:inline-block;
  height: 100%;
}

.contacts-line .name {
  font-size: 18px;
  font-weight: bold;
}
